<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.api.web.dao.game.GameLabelDAO">

    <resultMap id="gameLabelMap" type="com.game.api.web.entity.game.GameLabel">
        <id property="id" column="id"/>
        <result property="labelName" column="label_name"/>
        <result property="labelType" column="label_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="labelStatus" column="label_status"/>
    </resultMap>

    <!--通过ID查询单个-->
    <select id="findById" resultMap="gameLabelMap">
        SELECT id,label_name,label_type,create_time,update_time,label_status FROM game_label
        WHERE id=#{id}
    </select>

    <!--分页查询-->
    <select id="findByPage" resultMap="gameLabelMap">
        SELECT id,label_name,label_type,create_time,update_time,label_status FROM game_label
    </select>

    <!--新增-->
    <insert id="insert">
        INSERT INTO game_label(id,label_name,label_type,create_time,update_time,label_status)
        VALUES (#{id},#{labelName},#{labelType},#{createTime},#{updateTime},#{labelStatus})
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE game_label SET label_name=#{labelName},label_type=#{labelType},create_time=#{createTime},update_time=#{updateTime},label_status=#{labelStatus}
        WHERE id=#{id}
    </update>

    <!--通过ID删除单个-->
    <delete id="deleteById">
        DELETE FROM game_label
        WHERE id=#{id}
    </delete>

</mapper>